body {
  font-family: system-ui, sans-serif;
  background: #f6f8fa;
  color: #333;
  margin: 5%;
  padding: 0;
}

header,
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 1rem 0;
}

.container {
  max-width: 700px;
  margin: 1rem auto;
  padding: 0 1rem;
}

.search-field {
  width: calc(100% - 25px);
  margin-bottom: 20px;
  padding: 10px;
}

.controls {
  margin-bottom: 20px;
}
.controls button {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  background-color: #007BFF;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}